<div class="container" ng-controller="ConcreteSpecialsCtrl">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="col-lg-12">
            <h3>{{ special.title }}</h3>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
            <p>{{ special.description }}</p>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
            <p>{{ special.start_date }} - {{ special.end_date }}</p>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
            <p>You must repeat this action: {{ special.count }} times.</p>
        </div>
        <button class="btn btn-success" ng-click="getIn()">Get in</button>
    </div>
</div>